<!-- This template is used to retrieve JSON data using the Shoppable API -->
<!DOCTYPE html>
<html>
	<head>        
		<link rel='stylesheet' type='text/css' href='//d3i35264kiorxl.cloudfront.net/css/shop.css'/>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  	</head>
	<body>
		<div class="container">
			<div id="content"></div>
				<script type="text/javascript">
			  		var getData = function() {
			  	   		var ShoppableAPI_URL="http://api.shoppable.com/v1/token/28QaEowV15O3MV3Bafc210c40162b35b/catalog/?rows=50&offset=3&search=shirt";
				    	$.ajax({
				        	url: ShoppableAPI_URL,
				        	dataType: 'jsonp',
				        	success: function(data){
				            	setTimeout(2000);
			               		document.getElementById('content').appendChild(document.createTextNode(JSON.stringify(data["products"])));
				        	},
				        	error: function(data, textStatus, errorThrown) {
				        		console.log(data.error);
				        	}
				    	});
				  	}
		      		getData();
				</script>
			</div>
		</div>
	</body>
</html>


